@{
    ViewBag.Title = "Index";
}

<h2>Exemplo de Uso do KnockoutJS</h2>


@Html.ActionLink("Exemplo 01", "Index", "Exemplo01")
<p>Demonstra o uso simples</p>

@Html.ActionLink("Exemplo 02", "Index", "Exemplo02")
<p>Demonstra o uso de uma lista</p>

@Html.ActionLink("Exemplo 03", "Index", "Exemplo03")
<p>Demonstra o uso de uma lista, carregando dados via ajax</p>