@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function ListaViewModel() {
        var self = this;

        self.listaDeNomes = ko.observableArray([]);
        self.nome = ko.observable('');

        self.adicionarItem = function () {
            if (self.nome != "")
                self.listaDeNomes.push(self.nome());
        };

        self.limpar = function () {
            self.listaDeNomes([]);
        };

        self.excluir = function (item) {
            self.listaDeNomes.remove(item);
        };
    }

    $(function () {
        var viewModel = new ListaViewModel();
        ko.applyBindings(viewModel);
    });
</script>

<h2>Lista de Nomes</h2>

<form>
    Nome:
    <br />
    <input type="text" data-bind="value: nome" />

    <br />
    <input type="button" data-bind="click: adicionarItem" value="Adicionar Pessoa" />
    <input type="button" data-bind="click: limpar" value="Limpar Lista" />
</form>

<ul>
    <!-- ko foreach: listaDeNomes -->
    <li><span data-bind="text: $data"></span> <a href="#" data-bind="click: $root.excluir">X</a></li>
    <!-- /ko -->
</ul>
